body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #090d11;

    /* border: solid 1px red; */

    color: white;

}

.wholeheader{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px white; */

    width: 1400px;
}

ul{
    list-style-type: none;
}

.logo{
    display: flex;
    align-items: center;

    font-size: 24px;
    font-weight: bold;
    padding: 8px;

    /* width: 200px; */
    /* margin-left: auto; */

}

.links{
    font-size: 18px;

    display: flex;

    gap: 16px;
    padding: 8px;
    /* border: solid 1px blue */
}

a{
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #090d11;
    color: white;

    /* border: solid 1px red; */

    height: 400px;

}

.heroleft{
    /* border: solid 5px white; */
    
    width: 600px;

}

.heroleft > h1{
    font-size: 48px;
    font-weight: bold;
}

.heroheader, .heroparagraph{
    margin-top: 10px;
    margin-bottom: 10px;
}

.wholehero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* gap: 10px; */

    width: 1400px;
}

.herobutton{
    border: none;
    border-radius: 8px;
    background: #2c63bd;
    color: white;
    padding: 8px 24px;

    font-weight: bold;
}

.thirdsection{
    /* border: solid 10px purple; */
    background-color: black;

    /* display: flex; */
    text-align: center;

    height: 600px;

    
}

.thirdsectionheader{
    color: white;


    padding: 50px;

    margin-top: 0px;
    margin-bottom: 15px;
}



.fourpictures{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-left: 80px;
    padding-right: 80px;

}

.fourpictureimg{
    border: solid 5px #3882F6
}


.fourpicturessubset{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-left: 80px;
    padding-right: 80px;

    color: white;
}